@charset "UTF-8";

body {
    background-color: rgb(255, 136, 0);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
    color: rgb(0, 0, 0);
    text-align: center;
    text-decoration: underline;
}

h2 {
    color: aliceblue;
    background-color: black;
    text-align: start;
}

p {
    text-align: left;
}